@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Glyker';
    src: url('../fontes/Gliker Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montaser';
    src: url('../fontes/montserrat.regular.ttf') format('truetype');
}

/*PÁGINA BEM VINDO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f26b58 35%, #285d5f 60%);
    color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 400px;
    height: auto;
    margin-bottom: 15px;
}

.buttons a {
    display: block; /* Coloca cada botão em uma nova linha */
    width: 220px;
    padding: 10px;
    margin: 12px auto; /* Centraliza e adiciona espaço entre os botões */
    background-color: #f26b58;
    color: #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons a:hover {
    background-color: #c75347;
    transform: scale(1.05);
}
/*FIM PÁGINA BEM-VINDO*/

/*PÁGINA DE LOGIN*/
.body-3 {
    background-color: #004f4f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: 'Glyker', sans-serif;
}

.form-group label {
    color: #dfe7e7;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Amaranth';

}

.form-control {
    font-family: 'Montaser', sans-serif;
    background-color: #729b9a;
    color: white;
    border: none;
    border-radius: 6px;
    height: 45px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.form-control::placeholder {
    color: #c1cfcf;
    font-style: italic;
}

.btn-login {
    font-family: 'Amaranth';
    background-color: #ff6b5f;
    color: white;
    border: 2px solid #fff;
    width: 100%;
    border-radius: 6px;
    padding: 0.6rem;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #ff5447;
    color: white;
    border: 2px solid #fff;
}

.logo-2 {
    width: 150px;
    margin-bottom: 1rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}
/*FIM PÁGINA DE LOGIN*/

/*INICIO PÁGINA DE CADASTRO*/
        .body-4 {
            background-color: #004f4f;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .btn-cadastro {
            font-family: 'Amaranth';
            background-color: #ff6b5f;
            color: white;
            border: 2px solid #fff;
            width: 100%;
            border-radius: 6px;
            padding: 0.6rem;
            font-weight: bold;
            font-size: 1.1rem;
            transition: background-color 0.3s ease;
        }

        .btn-cadastro:hover {
            background-color: #ff5447;
            color: white;
            border: 2px solid #fff;
        }

/*FIM PÁGINA DE CADASTRO*/