<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Reservas Come Bem</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bemvindo.css') }}">
</head>
<body class="body-3">
    <img src="{{ url_for('static', filename='imagens/Logo Come-Bem.png') }}" alt="Logo Reservas Come Bem" class="logo-2">
    <h2>Login</h2>
    <div class="form-container">
        <form action="logar" method="post">
            <div class="form-group">
                <label for="nomeReserva">Nome da Reserva:</label>
                <input type="text" class="form-control" id="nomeReserva" name="nome" placeholder="Ex: Maria ..." required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="******" required>
            </div>
            <button type="submit" class="btn btn-login">Entrar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>
